/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont {
  padding: 0 10vw;
  height: 100vh;
  background-color: #bebebe;
}
.sec {
  text-align: center;
  margin-bottom: 2vh;
}

.game {
  color: black;
}
.score {
  display: flex;
  gap: 10vw;
  justify-content: center;
  color: black;
  font-size: small;
  margin-bottom: 3vh;
}
.header {
  display: flex;
}

.components {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  align-items: center;
}

.winner {
  flex-basis: 20%;
  color: black;
}

.btn {
  height: 25vh;
  width: 25vh;
  background-color: white;
  border: none;
}

.btn:hover {
  background-color: black;
  cursor: pointer;
}

.e1 {
  margin-bottom: 1vh;
}

.e2 {
  margin-bottom: 1vh;
}

.img {
  height: 80%;
}

.y-color {
  color: yellow;
}

.r-color {
  color: red;
}
